@using Microsoft.AspNetCore.Identity;
@using eCommerceWebsite.Data;
@inject UserManager<IdentityUser> _userManager
@inject SignInManager<IdentityUser> _signInManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lavish</title>
    <link rel="stylesheet" href="~/css/Flatly.css" />
    
    <link rel="stylesheet" href="~/js/site.js" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
  <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="~/img/resized (4).png" class="logo" alt="" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        @if (!User.Identity.IsAuthenticated || User.IsInRole("Customer"))
                        {
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Home" class="nav-link active">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Category" asp-action="Index">Category</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Product" asp-action="Index">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-bag-shopping"></i></a>
                            </li>
                        }
                      
                        @if(User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="eCommerceLead" asp-action="Index">eCommerceLead</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AppRoles" asp-action="Create">Roles</a>
                            </li>
                        }
                        
                        @*<li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>*@
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>


        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">eCommerceWebsite</a> {home}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AppRoles" asp-action="Create">Roles</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register Employees</a>
                            </li>

                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="eCommerceLead" asp-action="Index">eCommerceLead</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <partial name="_LoginPartial"/>
        </nav>*@
    </header>
   @* <header id="header">
        
            <a herf="#"><img src="~/img/resized (4).png" class="logo" alt="" /></a>

            <div>
                <ul id="navbar">
                  
                    

                        <li>
                            <a class="active" herf="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a herf="" asp-controller="Customer" asp-action="Shop">Shop</a>
                        </li>
                        <li>
                            <a herf="" asp-controller="Home" asp-action="Index">Blog</a>
                        </li>
                        <li>
                            <a herf="" asp-controller="Home" asp-action="Index">About</a>
                        </li>
                        <li>
                            <a herf="" asp-controller="Home" asp-action="Index">Contact</a>
                        </li>
                        <li>
                            <a herf="" asp-controller="Customer" asp-action="Cart"><i class="fa-solid fa-bag-shopping"></i></a>
                        </li>

                    <li>
                        <!-- User Profile-->
                       
                           
                                 @if (profilePictureId != Guid.Empty)
                                {

                                <img src="@Url.Action("ProfilePicture","Profile",new{Id = profilePictureId})" alt="users" class="rounded-circle img-fluid" />
                                }
                                else
                                {

                                <a herf="" asp-area="Identity" asp-page="/Account/Login"><i class="fa-regular fa-user"></i></a>
                                }


                            <div style="margin-top: 35px;" class="user-content hide-menu m-t-10">

                                @if (_signInManager.IsSignedIn(User))
                                {
                                    <h5 class="m-b-0">@_userManager.GetUserAsync(User).Result.FirstName @_userManager.GetUserAsync(User).Result.LastName</h5>
                                }
                                else
                                {
                                    <h5 class="m-b-0">John Joe</h5>
                                }

                                



                               



                   
                      
                        <!-- End User Profile-->
                    </li>
                   
                        

                  

                </ul>
            </div>
        
    </header>*@
   
    <div   class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - eCommerceWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> 
    </footer >*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   @* <script src="https://cdn.tiny.cloud/1/cj6c00qmha1aea4lj2zeurl47og6dfe7mghz0ezyywo4vsmp/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>*@
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>

    .border-top {
        border-top: 1px solid #e5e5e5;
    }
    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }

    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    button.accept-policy {
        font-size: 1rem;
        line-height: inherit;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 60px;
    }


</style>